<Page::Header @title="Customer" @subtitle={{concat this.model.firstName " " this.model.lastName}} />
<Page::Content>
  <div class="row">
    <div class="col-lg-3">
      <div class="nav flex-column nav-pills mb-3">
        <LinkTo @route="customers.customer" @model={{this.model.id}} class="nav-link">
          Customer Information
        </LinkTo>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Customer Information
          </h5>
          <p class="text-muted">
            You can modify the customer's basic information here. All fields are required.
          </p>
          <form {{action "saveCustomer" on="submit"}}>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="customerFirstName">First name</label>
                <Input
                  @type="text"
                  @class="form-control"
                  @id="customerFirstName"
                  @required={{true}}
                  @value={{this.model.firstName}}
                />
              </div>
              <div class="form-group col-md-6">
                <label for="customerLastName">Last name</label>
                <Input
                  @type="text"
                  @class="form-control"
                  @id="customerLastName"
                  @required={{true}}
                  @value={{this.model.lastName}}
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-7">
                <label for="customerEmailAddress">Email</label>
                <Input
                  @type="email"
                  @class="form-control"
                  @id="customerEmailAddress"
                  @required={{true}}
                  @value={{this.model.emailAddress}}

                />
              </div>
              <div class="form-group col-md-5">
                <label for="customerPhoneNumber">Phone Number</label>
                <Input
                  @type="tel"
                  @class="form-control"
                  @id="customerPhoneNumber"
                  placeholder="(555) 555-5555"
                  @required={{true}}
                  @value={{this.model.phoneNumber}}
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="customerCompany">Company</label>
                <Input
                  @type="text"
                  @class="form-control"
                  @id="customerCompany"
                  @required={{true}}
                  @value={{this.model.company}}
                />
              </div>
              <div class="form-group col-md-4">
                <label for="customerProject">Project</label>
                <Input
                  @type="text"
                  @class="form-control"
                  @id="customerProject"
                  @required={{true}}
                  @value={{this.model.project}}
                />
              </div>
              <div class="form-group col-md-4">
                <label for="customerBudget">Budget</label>
                <Input
                  @type="number"
                  @class="form-control"
                  @id="customerBudget"
                  @required={{true}}
                  @value={{this.model.budget}}
                />
              </div>
            </div>
            <button type="submit" class="btn btn-info">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</Page::Content>