<Page::Header @title="Customers" />
<Page::Content>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    <h5 class="card-title">
      {{this.sortedCustomers.length}} Total Customers
    </h5>
    <div>
      <select class="form-control" onchange={{action (mut this.sortProperty) value="target.value"}}>
        <option value="firstName" selected={{eq this.sortProperty this.fullName}}>
          Sort by name
        </option>
        <option value="budget:desc" selected={{eq this.sortProperty "budget"}}>
          Sort by budget
        </option>
      </select>
      {{!-- <form class="form-inline" {{action "searchCustomer" on="submit"}}>
        {{input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchBy" value=searchBy}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> --}}
      {{!-- {{this.search}}{{this.result}} --}}

    </div>
  </div>

  <div class="card">
    <CustomersTable @model={{this.sortedCustomers}} />
  </div>
</Page::Content>