html,
body {
  height: 100%;
}
ul{
  margin:0;
  padding:0;
}
body > .ember-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.dash_info{
  font-size: 1.2em;
  width:80%;
  strong{
    font-size: 2em;
    color: green;
  }
}
