<Page::Header @title="DashBoard" />
<Page::Content>
  <div class="row">
    <div class="col-sm-6">
      <ul class="dash_info">
        <li class="flex-container">Total Number of Customers <strong>{{this.sortedCustomers.length}}</strong></li>
        <li class="flex-container">Total Budget <strong>{{this.totalBudget}}</strong></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width: 25rem;">
        <h5 class="card-header">Top 5 Prospects</h5>
        <ul class="list-group list-group-flush">
          {{#each (slice 0 5 this.sortedCustomers) as |topCustomer|}}
            <li class="list-group-item flex-container"> {{topCustomer.firstName}} {{topCustomer.lastName}} <span class="card-subtitle mb-2 text-muted">{{topCustomer.budget}}</span></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</Page::Content>